<br />
<form method="post" action="/Information/Create">
    <div class="input-group">
        <input type="text" name="name" class="form-control" />
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
