@page
@model CreateModel
@{
    ViewData["Title"] = "Success! Your data was saved to the server.";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Click here to go back: </strong> <a href="About">Back</a><br />
</address>
