@page
@model DeleteModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Click Here to go back: </strong> <a href="About">Back</a>
</address>
